@media screen and (max-width:800px){
    .nav{
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    .container 123{
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    .container-galery{
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }