*{
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
}
.body-2{
    background-color:#cca9c4;
    font-family: 'Open Sans', sans-serif;
}
.container{
    padding: 50px 0;
    width: 1000px;
    max-width: 1000px;
    margin: auto;
}
.title{
    font-size: 25px;
    color: rgb(46, 11, 126);
    text-align: center;
    margin-bottom: 30px;
}
header{
    width: 1350px;
    height: 350px;
    background: fb91fd;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgb(196, 247, 247,0.2) rgba(202, 161, 202, 0.2)), url(../img/fondo1.jpg);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgb(196, 247, 247,0.2), rgba(232, 167, 233, 0.2)), url(../img/fondo1.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background-size: cover;
    background-attachment: fixed;
    position: relative;

}
nav{
    text-align: right;
    padding: 3px 20px 0 0;
}
nav>a{
    color: rgb(154, 243, 103);
    font-weight: bold;
    text-decoration: none;
    margin-right: 10px;
}
nav>a:hover{
    text-decoration: underline;
}
nav>h2{
    text-align: left;
    color: rgb(213, 230, 138);
}
#ola{
    width: 100%;
    position: absolute;
    bottom: 0;
}
.text-header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100px;
    margin-top: 40px;
}
.text-header h1{
    font-size: 50px;
    font-weight: 100;
    color: rgb(247, 245, 239);
}
.text-header h3{
    font-size: 20px;
    font-weight: 100;
    color: rgb(250, 249, 244);
}
.container-123{
    display: flex;
    justify-content: space-evenly;
}
.image-123{
    width: 20%;
    border-radius: 10%;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.9);
}
.text h3{
    margin-bottom: 40px;
    color: rgb(23, 3, 94);
}
.text h3 span{
    background: rgb(3, 104, 37);
    color: rgb(210, 204, 233);
    border-radius: 10%;
    text-align: center;
    margin-right: 4%;
}
.container-market{
    background-color:hsl(260deg 20% 80% / 50%);
    padding: 40px 0;
    width: 1000px;
    max-width: 1000px;
    margin: auto;
}
.galery{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.galery-market{
    width: 35;
    height: 150;
    margin: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
.image-gallery{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.galery_one{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform:scale(0);
    transition:  transform .3s;
    background-color: rgba(156, 204, 236, 0.521);
}
.galery_one > img{
    width: 80px;
}
.galery:hover .galery_one{
    transform: scale(1);
}
.container-2{
    padding: 120px 0;
    width: 1000px;
    max-width: 1000px;
    margin: auto;
}
.container-images2{
    background-color: rgb(201, 118, 59);
}
.container-habilidades{
    
    display: flex;   
    justify-content: space-evenly;
    flex-wrap: wrap
}
.container-destrezas{
    display: flex;   
    justify-content: space-evenly;
    flex-wrap: wrap
}
.container-destreza{
    background-color: rgb(213, 231, 47);
    display: flex;
    width: 70%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 20px;

}
.container-destrezas .container-destreza img{
    width: 150px;
    height: 100px;
    border:3px solid #fff;
    border-radius: 40%;
    display: block;
    object-fit: cover;
}
.container-destrezas .container-destreza > h3{
    width: 40%;
}
.container-destrezas .container-destreza > p{
    font-weight: 100;
    padding-top: 40px;
}
.container-footer{
    background-color: navy;
}
.container-contactos{
    display: flex;   
    justify-content: space-evenly;
    flex-wrap: wrap
}
.container-contactos  h5{
    color: #fff;
    width: 30%;
    height: 80px;
}
.container-contactos  p{
    color: #fff;
}
.con-contactos{
    display: flex;   
    justify-content: space-evenly;
    flex-wrap: wrap
}
.con-contactos h6{
    color: #fff;
}
.con-contactos .contactos p{
    color: #fff;
}