@media script and (max-width:500px){
    nav{
        text-align: center;
        padding: 2px 0 0 0;
    }
    nav > a{
        margin-right: 3px;
    }
    
    .text-header h1{
        font-size: 20px;
    }
    
    .text-header h2{
        font-size: 10px;
    }
        
    .gallery-market{
        width: 95%;
    }
    
    .container-footer{
        flex-direction: column;
        }
    
    .content-footer{
        margin-bottom: 25px;
    }
    
    .content-footer h4{
        border:none;
        padding:2px;
        margin-bottom: 0;
        width: 10%;
    }

    
}